.place__image {
    width: 460px;
    height: 460px;
    place-self: start;
    grid-area: image;
}

@media (max-width: 1024px) {
.place__image {
    max-width: 440px;
    min-height: 440px;
}
}

@media (max-width: 768px) {
.place__image {
    max-width: 340px;
    min-height: 340px;
}
}

@media (max-width: 425px) {
.place__image {
    max-width: 320px;
    min-height: 320px;
}
}