.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: white;
    margin: 0;
    padding-bottom: 26px;
    grid-area: paragraph;
}

.place__paragraph:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
        font-size: calc( (100vw - 768px)/(1024 - 768) * (18 - 16) + 16px);
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        max-width: 288px;
        margin-left: 16px;
    }
}