.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: white;
    margin: 0;
    padding-bottom: 26px;
    grid-area: paragraph;
}

@media (max-width: 1024px) {
.place__paragraph {
    max-width: 456px;
    font-size: 18px;
    grid-area: paragraph;
}
}

@media (max-width: 768px) {
.place__paragraph {
    max-width: 352px;
    font-size: 16px;
    grid-area: paragraph;
}
}

@media (max-width: 425px) {
.place__paragraph {
    max-width: 288px;
    margin-left: 16px;
    grid-area: paragraph;
}
}