.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration-line: underline;
    line-height: 22px;
    color: white;
    margin: 0;
    padding: 0;
}

.place__link:hover {
    opacity: 0.8;
}

