.intro__title {
    font-family: 'Inter';
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    max-width: 690px;
    min-height: 58px;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
        font-size: calc( (100vw - 425px)/(768 - 425) * (54 - 32) + 32px);
        min-height: calc(100% - 70px);
        line-height: 107%;
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        max-width: 288px;
        min-height: calc(100% - 10px);
        font-size: calc( (100vw - 50px)/(425 - 50) * (32 - 10) + 10px);
        line-height: 109%;
    }
}